//primary
$soft-red: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Dark-desaturate: hsl(167, 40%, 24%);
$Dark-desaturate2:#157560;
$Dark-blue: hsl(198, 62%, 26%);
$Dark-moderate: hsl(168, 34%, 41%);
$Dark-moderate2: hsl(168, 44%, 70%);
$Logo-color: hsl(168, 45%, 32%);
$transparent:rgba( 255, 255, 255, 0.3 );



//neutral
$Very-dark: hsl(212, 27%, 19%);
$Very-dark-grayish: hsl(213, 9%, 39%);
$Dark-grayish: hsl(232, 10%, 55%); //useful color-text
$Grayis: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

//variable
$gallery-width:25vw;


