*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700&display=swap');
//font-family: 'Barlow', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
//font-family: 'Fraunces', serif;

//setting font family to all headers having class fraunces
.fraunces{
    font-family:'Fraunces', serif;
}
p{
     line-height: 30px;
}